<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		<property name="hbm2ddl.auto">create-drop</property>
		<mapping class="com.test.hibernate.Event" />
		<mapping class="com.test.hibernate.Organization" />
		<mapping class="com.test.hibernate.Customer" />
	</session-factory>


</hibernate-configuration>